main section article{
	max-width:1020px;
	margin:0 auto;
}
main section article table{
	width:100%;
	font-family: "fot-chiaro-std", sans-serif;
	font-weight: 700;
	font-style: normal;
	border-top:2px solid #ccc;
}
main section article th,
main section article td{
	padding:20px 100px;
	border-bottom:2px solid #ccc;
	font-size:32px;
}
main section article td small{
	font-size:18px;
}
.cancel{
	padding:20px 50px;
	border:3px solid #25ae10;
	border-radius:20px;
	margin-top:60px;
}
.cancel strong{
	font-size:24px;
}
.cancel th,
.cancel td{
	font-weight:500;
	font-size:18px !important;
}